header{
    font-family:fantasy;
    font-size:30px;
    text-align:center;
    margin-top:60px;
}
body {
    background-color:#26c6da;
    text-align:center;
    color:#ff9900;
    font-weight:bold; background-image:url(https://i.pinimg.com/originals/2b/1d/87/2b1d870c5b0aa29d68aae9adef4e54f1.jpg);
}
footer{
    font-size:10px;
}
#c{
    text-align:left;
}
.ma{
    margin-top:30px;
    padding-bottom:30px;
}
input{
    margin-top:10px;
    padding-bottom:10px;
    border-radius:5px ;
    background-color:#bbdefb;
    padding:9px;
}
textarea{ 
    margin-top:10px;
    height:110px;
    width:190px;
    border-radius:5px;
    padding:6px;
    background-color:#bbdefb;
}
#submit{
    background-color:aqua;
    padding:12px 20px;
    font-weight:bold;
}
#i{ 
    text-decoration:none;
    color:orange;
}
button{ 
    margin-top:20px;
    border-radius:5px;
    background-color:#154360;
}
